/* Custom Hero Section */
.hero-section {
    background-image: url('../assets/images/slide-background.png');
    background-size: cover;
    background-position: center;
    padding-top: 60px;
    margin-top: -60px;


    .hero-title {
        font-size: 28px;
        font-weight: 700;
        line-height: 1.2;
        color: #DAEFFF;

        @media (min-width: 992px) {
            font-size: 28px;
        }
    }

    .hero-desc {
        font-size: 16px;
        line-height: 1.6;
        opacity: 0.9;
        max-width: 480px;
        font-weight: 300;
    }

    .hero-meta {
        font-size: 14px;
        font-weight: 500;
    }

    .hero-img {
        transform: scale(1) translateY(300px);

        @include media-breakpoint-down(lg) {
            transform: scale(0.8) translateY(230px);
        }
    }
}