// Başlıkların ortak özelliklerini sıfırlayalım (opsiyonel)
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
  font-family: 'Inter', sans-serif;
}

// Tasarımdaki Spesifik Değerler
h1 {
  color: $h1-color;
  font-weight: $font-weight-bold;
  line-height: 38px;
}

h2 {
  color: $h2-color;
  font-weight: $font-weight-bold;
  line-height: 36px;
}

h3 {
  color: $h3-color;
  font-weight: $font-weight-semibold;
  line-height: 32px;
}

h4 {
  color: $h4-color;
  font-weight: $font-weight-semibold;
  line-height: 30px;
}

h5 {
  color: $h5-color;
  font-weight: $font-weight-regular;
  line-height: 28px;
}

h6 {
  color: $h6-color;
  font-weight: $font-weight-regular;
  line-height: 26px;
}