$font-family-sans-serif: 'Inter', sans-serif;

// Renk Tanımlamaları
$h1-color: #174162;
$h2-color: #273D89;
$h3-color: #A8B95E;
$h4-color: #2A2C31;
$h5-color: #676A73;
$h6-color: #2A2C31;

// Font Ağırlıkları (Inter fontu için standart değerler)
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-regular: 400;

// Bootstrap Font Size Overrides
$h1-font-size: 2rem;    // 32px
$h2-font-size: 1.75rem; // 28px
$h3-font-size: 1.625rem;// 26px
$h4-font-size: 1.5rem;  // 24px
$h5-font-size: 1.375rem;// 22px
$h6-font-size: 1.25rem; // 20px
